[run]
omit =
    tests/*
    h5rdmtoolbox/tutorial.py
    h5rdmtoolbox/errors.py
relative_files = true

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    @atexit.register
    except AttributeError
    raise NotImplementedError
    except TypeError
    except ImportError
    except FileNotFoundError
    return f"{bcolors.*
    def _attribute_repr_html
    def _group_repr_html
    def _html_repr_dataset
    def h5file_html_repr
    def make_italic
    def make_bold
    def warningtext
    def failtext
    def oktext
    def sdump
    def dump