*.bak
*.xml
*.log
*.res.lck
*.out
*.res
*.ccl
*.iml
*.pyc
*-checkpoint.ipynb*
*.vtr
#*.hdf
*.tiff
*.par
*.coverage
*.pylint
*.pickle
*.pkl

# build
*.egg*
build/
dist/

# Spyder project settings
.spyderproject
.spyproject

# pyCharm project setting
.idea
.idea/

# macOS DS indices
.DS_STORE
Thumbs.db

# testdata
#testdata
#tests/data

# jupyter
*.ipynb_checkpoints*

# docs
docs/_build/
docs/generated
docs/jupyter_execute

# pytest
.coverage
htmlcov
coverage.svg
