*.xml
*.log
*.res.lck
*.out
*.res
*.ccl
*.iml
*.pyc
*-checkpoint.ipynb*
*.nc
*.hdf
*.tiff
*.par

# build
*.egg*
build/
dist/

# Spyder project settings
.spyderproject
.spyproject

# pyCharm project setting
.idea
.idea/

# macOS DS indices
.DS_STORE
Thumbs.db

# testdata
#testdata
h5rdmtoolbox/tests/data

# jupyter
*.ipynb_checkpoints*

# docs
docs/_build/

# pytest
.coverage
htmlcov
