-e .
-r requirements.txt
pytest>=7.1.2
pytest-cov
appdirs>=1.4.4
numpy>=1.20,<1.23.0
h5py>=3.7.0
matplotlib>=3.5.2
pandas>=1.4.3
tqdm>=4.64.0
IPython>=8.4.0
pyyaml
xarray>=2022.3.0
pint>=0.19.2
pint_xarray>=0.2.1
regex>=2020.7.9
pymongo>=4.2.0
packaging
omegaconf~=2.2.3
psutil>=5.9.1
jupyterlab
scikit-image
scikit-learn
nbsphinx
pco_tools>=1.0.0
opencv-python>=4.5.3.56
pooch
xmltodict
tabulate>=0.8.10
python-gitlab