-e .
-r requirements-dev.txt
Sphinx==8.0.0
sphinx_book_theme==1.1.4
pydata-sphinx-theme==0.15.4
sphinx-copybutton==0.5.2
sphinx-design== 0.6.1
myst-nb==1.2.0
sphinxcontrib-bibtex==2.6.3
kglab
scikit-learn