/*
CSS inspired by xarray: https://github.com/pydata/xarray
*/
.h5tb-header > div,
.h5tb-header > ul {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
}

.h5tb-dataarray-cls,
.h5tb-dataarray-name {
    margin-left: 2px;
    margin-right: 10px;
}

.h5tb-dataarray-name {
    color: #000;
}

.h5grp-sections {
    list-style: none;
    padding: 3px;
    margin: 0;
}

.h5grp-sections input {
    display: none;
}

.h5grp-sections label {
    display: inline;
}

.h5grp-sections > li > input + label > span {
    display: inline;
    margin-left: 4px;
}

.h5grp-sections > li > input:checked + label > span {
    display: none;
}

.h5grp-sections input:enabled + label {
    cursor: pointer;
}

.h5grp-sections input:not(.h5tb-values-in) ~ ul {
    display: none;
}

.h5grp-sections input:not(.h5tb-values-in):checked ~ ul {
    display: block;
}

.h5grp-sections > li > input + label {
    width: 140px;
    color: #555;
    font-weight: 500;
    padding: 4px 0 2px 0;
}


.h5grp-sections > li > input + label:before {
    display: inline-block;
    content: '+';
    font-size: 11px;
    width: 15px;
    text-align: center;
}

.h5grp-sections > li > input:disabled + label:before {
    color: #777;
}

.h5grp-sections > li > input:checked + label:before {
    content: '-';
}

.h5tb-dim-list {
    display: inline-block !important;
    list-style: none;
    padding: 0;
}

.h5tb-dim-list li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.h5tb-dim-list:before {
    content: '(';
}

.h5tb-dim-list:after {
    content: ')';
}

.h5tb-dim-list li:not(:last-child):after {
    content: ',';
}

.h5tb-has-index {
    text-decoration: underline;
}

.h5tb-var-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.h5tb-var-list > li {
    background-color: #fcfcfc;
    overflow: hidden;
}

.h5tb-var-list > li:nth-child(odd) {
    background-color: #efefef;
}

.h5tb-var-list li:hover {
    background-color: rgba(3, 169, 244, .2);
}

.h5tb-var-list li > span {
    display: inline-block;
}

input.h5tb-varname-in + label {
    width: 140px;
    padding-left: 0;
    font-weight: bold;
}

.h5tb-dataset {
    width: 100px;
}

.h5tb-attributevalue {
    width: 100px;
    text-align: left;
    color: #888;
    white-space: nowrap;
    font-size: 12px;
}

input.h5tb-varname-in + label:before {
    content: ' ';
    display: inline-block;
    font-size: 11px;
    width: 15px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    color: #aaa;
    text-decoration: none !important;
}

input.h5tb-varname-in:enabled + label:hover:before {
    color: #000;
}

input.h5tb-varname-in:checked + label:before {
    color: #ccc;
}

.h5tb-dims {
    width: 280px;
    white-space: nowrap;
}

.h5tb-attr-list {
    list-style: none;
    background-color: rgba(0,0,0,.0);
    padding-bottom: 6px;
    color: #6a6c73;
}

.h5tb-attr-list li,
.h5tb-attr-list li:hover {
    background-color: rgba(0,0,0,.0);
}


/* Tooltip container */
.tooltip {
position: relative;
display: inline-block;
cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
visibility: hidden;
width: 300px;
background-color: #555;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px;
position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -60px;
opacity: 0;
transition: opacity 0.3s;
}

/* Show the tooltip on hover */
.tooltip:hover .tooltiptext {
visibility: visible;
opacity:  1;
}